.about-container {
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.logo-text-container {
    display: flex;
    align-self: center;
}

.logo-text-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-text-container img {
    width: clamp(100px, 100px + 10vw, 400px)
}

.logo-text-subcontainer h3 {
    margin: 0;
    font-size: 20px;
}

.logo-text-subcontainer p {
    margin: 5px 0 0;
    font-size: 14px;
}