.map-container {
    position: relative;
}

.zoom-div {
    --translate-x: 10%;
    --scale: 1;
    transform-origin: top left;
    transform: scale(var(--scale)) translateX(var(--translate-x));
}

.map-container img {
    width: 100%;
}

.map-point {
    height: 0.8%;
    aspect-ratio: 1 / 1;
    background-color: red;
    position: absolute;
    border-radius: 50%;
}

.map-point:hover {
    cursor: pointer;
}

