:root {
    --main-color: #E2E7C6;
    --navbar-border-color: #b1b49c;
}

html,
body {
    height: 100%;
}

.top-nav {
    background-color: var(--main-color);
    border-bottom: 2px solid var(--navbar-border-color);
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.logo-img {
    height: calc(2rem + 5vw);
    margin: calc(0.3rem + 0.3vw);
}

nav > ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

.nav-button-container {
}

.nav-button-container > button{
    border: none;
    background-color: var(--main-color);
}

.nav-button-container > button:hover{
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

}

main > div {
    max-width: 200rem;
    /* background-color: rgba(241, 234, 224, 0.753); */
    padding: 2rem;
}