:root {
    --main-color: #E2E7C6;
    --navbar-border-color: #b1b49c;
}

html,
body {
    min-height: 100vw;
    display: flex;
    flex-direction: column;
}

body {
    scroll-behavior: smooth;
}

.top-nav {
    background-color: var(--main-color);
}

nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.logo-img {
    height: clamp(3rem, calc(2rem + 5vw), 4rem);
}

nav > ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: end;
    gap: 0.3rem;
    margin: 0;
}

.nav-button-container {
}

.nav-button-container > button{
    border: none;
    background-color: var(--main-color);
    padding: 0;
}

.nav-button-container > button:hover{
    cursor: pointer;
}

.nav-button-container > button:disabled{
    cursor: default;
    font-weight: 700;
    color: inherit;
}


li > button::after {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

main > div > p {
    text-align: justify;
}

main > div {
    max-width: 200rem;
    padding: clamp(0.5rem, 0.5rem + 1vw, 2rem);
    max-width: 900px;
    margin: auto;
}


.footer-pusher {
    flex-grow: 1;
}

footer {
    position: relative;
    clear: both;
    background-color: var(--main-color);
    padding: 0.5rem;
    padding-bottom: 1rem;
    border-top: 2px solid var(--navbar-border-color);
    justify-self: flex-end;
}